{% extends 'base.html' %}

{% block content %}
<style>
    .card-title {
    font-size: 1.5rem;
    font-weight: 500;
}

.card-body {
    padding: 2rem;
}

.alert-danger {
    border-radius: .25rem;
    padding: .75rem 1.25rem;
}

</style>
    <div class="container d-flex justify-content-center" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="card shadow-lg" style="width: 50%; border-radius: 10px;">
            <div class="card-body p-4">
                <h2 class="card-title text-center mb-4">Reset Password</h2>
                <p class="text-center">Enter your new password below.</p>
                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        {{ form.new_password.label_tag }}
                        {{ form.new_password }}
                    </div>
                    <div class="mb-3">
                        {{ form.confirm_password.label_tag }}
                        {{ form.confirm_password }}
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
