{% extends 'admin/header.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-sm-12 col-xl-8">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">View Provider</h6>
                <div class="mb-4">
                    <td><img src="{{ provider.company_logo.url }}" alt="Logo" style="width: 200px; height: auto;"></td>
                    <h5>{{ provider.company_name }}</h5>
                    <h5>{{ provider.name }}</h5>
                    <p><strong>Email:</strong> {{ provider.email }}</p>
                </div>
                <a href="{% url 'provider_list' %}" class="btn btn-primary">Back to Providers</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
