Django>=4.2,<5.0
djangorestframework>=3.14.0
django-crispy-forms>=2.0.0
python-decouple>=3.8
psycopg2-binary>=2.9
django-filter>=23.2.0
Pillow>=10.0.1
requests>=2.28.2
django-widget-tweaks>=1.4
xhtml2pdf
pydotplus
graphviz
google-generativeai
IPython
speechrecognition>=3.8.1
mediapipe>=0.10.4
whitenoise>=6.4.0
gunicorn>=20.1.0
matplotlib>=3.7.1
lark-parser
genai
cloudinary>=1.31.0
django-cloudinary-storage>=0.0.6
pip install PyMuPDF
